<div tabindex="-1" id="mat-dialog-1" role="dialog" aria-labelledby="mat-dialog-title-1" style="transform: none; opacity: 1;">
    <!---->
    <div class="ng-star-inserted">
      <form #formCtrl="ngForm">
      <div class="mat-doalog-header">
        <h1 class="mat-dialog-title" mat-dialog-title="" id="mat-dialog-title-1">Change your phone number</h1>
        <button mat-icon-button mat-dialog-close>
          <mat-icon aria-label="Example icon-button with a heart icon">close</mat-icon>
        </button>
      </div>
      <div class="mat-dialog-content" mat-dialog-content="">
          <mat-form-field>
              <input matInput placeholder="Phone number" [formControl]="phone" autocomplete="off" required>
              <mat-error *ngIf="phone.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
      </div>
      <div class="mat-dialog-actions text-right" mat-dialog-actions="">
        <button mat-button mat-dialog-close>{{'cancel' | uppercase}}</button>
        <button mat-raised-button mat-dialog-close color="primary" cdkfocusinitial="" [disabled]="!phone.value" (click)=saveNumber()>{{'save' | uppercase}}</button>
      </div>
    </form>
    </div>
  </div>