<div tabindex="-1" id="mat-dialog-1" role="dialog" aria-labelledby="mat-dialog-title-1" style="transform: none; opacity: 1;">
    <!---->
    <div class="ng-star-inserted">
      <div class="mat-doalog-header">
        <h1 class="mat-dialog-title" mat-dialog-title="" id="mat-dialog-title-1">Delete account?</h1>
        <button mat-icon-button mat-dialog-close>
          <mat-icon aria-label="Example icon-button with a heart icon">close</mat-icon>
        </button>
      </div>
      <div class="mat-dialog-content" mat-dialog-content="">
        <p>All your chat message and your friend list will be permanently deleted.</p>
      </div>
      <div class="mat-dialog-actions text-right" mat-dialog-actions="">
        <button mat-button mat-dialog-close>{{'cancel' | uppercase}}</button>
        <button mat-raised-button color="warn" cdkfocusinitial="">{{'delete' | uppercase}}</button>
      </div>
    </div>
  </div>